@page "/issue"
@using System.Timers
@using Chronos.Core

<h1>Issue</h1>
<p>Just one issue</p>
<div>
    <input placeholder="Issue key..." bind="@_vm.Key" />
    <button onclick="@_vm.StartStopButtonOnClick">Start/Stop</button>
    <label>@_vm.ElapsedLabel</label>
    <br />
    <label>@_vm.Label</label>
</div>
@functions {
    readonly Timer _timer = new Timer(1000);
    readonly IssueViewModel _vm = new IssueViewModel(new ChronometerSystem());

    protected override void OnInit()
    {
        _timer.Elapsed += (sender, args) => StateHasChanged();
        _timer.Start();
    }
}